body {
  font-family:"Outfit", san-serif;
}

h1,h2 {
  font-family:"Fraunces",serif;
}




#theTopMenu {
  background-color: #2c4075;
  overflow: hidden;
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.topmenu ul {
  width: 100%;
  display: table;
  text-align: center;
}

.topmenu ul li {
  display: inline-block;
  float: none;
  padding: 0px 14px;
}

.topmenu li a {
  color: #fff;
  text-align: center;
  padding: 14px 18px; 
  text-decoration: none;
}

.topmenu a:hover {
  background-color: #A0B9D2;
  color: #2c4075;
}

.topmenu a.active {
  background-color: #A0B9D2;
  color: #2c4075;
}

#theFooter {
  background-color: #EE7C4B;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 15px;
  text-align: center;
  font-family: 'Outfit', sans-serif;
  font-style: bold;
}

div > img {
  width: 100%;
  height: 100%;
  margin-bottom: 1cm;
}

.row {
	  display: flex;
    white-space: normal;
	}

.column1, .column2 {
	  flex: 50%;
	  padding: 16px;
	  height: 250px;
	}

.column1, .column2 img{
  width: 35%;
  height: 70%;
}

.column1, column2 p{
  margin-bottom: 2cm;
}

.column3, .column4, .column5, .column6, .column7, .column8 {
	  flex: 33.33%;
	  height: 200px;
	  padding: 10px;
	  margin: 5px;
	}

.container, .container2 {
	   display: flex;
	}

div > img {
  width: 100%;
  height: 100%;
  margin-bottom: 1cm;
}

tr, td {
  border: 2px outset #0077b6;
}

html, body {
  height: 100%;
  width: 100%;
}

div > img {
  width: 100%;
  height: 100%;
  margin-bottom: 1cm;
}

.batch {
	  display: flex;
    white-space: normal;
	}

.family {
	  flex: 50%;
	  padding: 16px;
	  height: 250px;
	}

.group {
	  flex: 33.33%;
	  height: 200px;
	  padding: 10px;
	  margin: 5px;
    border: 2px solid #EE7C4B;
	}

.box {
	   display: flex;
	}

h5 {
  color: #0077b6;
}
